nav {
  background-color: #2c7855;
  background-image: url("https://www.transparenttextures.com/patterns/gradient-squares.png");
  border-bottom: solid #2c7855;
  padding-left: 15em;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Source-Sans-Pro, Sans-Serif;
  position:fixed;
  width: 100%;
}

span {
  font-family: 'Bungee', sans-serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.compose {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1024px) {

  nav {
    height: 120px;
    background-color: #2c7855;
    color: #FFFFFF;
    position: fixed;
    top: 0;
    background-image: none;
  }
}